html, body {
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

input {
  margin: 5px;
}

#new-password-wrapper {
  display: none;
}
